* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: rgb(27, 230, 67);
    --red: red;
    --yellow: yellow;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: none;
    padding: 10px 0;
}

html::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

body {
    min-height: 100vh;
    margin: -50px auto;
    overflow-x: hidden;
}

a {
    display: flex;
    gap: 1.5px;
    flex-direction: column;
    color: rgb(27, 230, 67);
}

header li::before {
    display: none;
}

header a {
    transition: background-color 0.2s ease-in;
    border-radius: 5px;
    padding: 10px;
    color: inherit;
}

.mouse {
    pointer-events: none;
    touch-action: none;
}

.about span {
    margin: 0px 6px;
    cursor: pointer;
}

header a:hover {
    background-color: rgba(27, 196, 230, 0.201);
    color: rgb(27, 230, 67);
}

header a.active {
    color: rgb(27, 230, 67);
}

.theme-toggler {
    box-sizing: content-box;
    background-position: center;
    background-size: cover;
    background-image: url(/dark_light.svg);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
}

.theme-toggler::after {
    transition: opacity 0.5s ease-in-out;
    width: 105px;
    opacity: 0;
    padding: 5px;
    border-radius: 500px;
    content: "Swith Theme";
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 50%;
    translate: -50% 0;
    color: white;
    background-color: rgb(0, 0, 0);
}

.theme-toggler:hover::after {
    opacity: 1;
}

hr {
    opacity: 0.5;
}

.mouse {
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.288);
    box-shadow: 4px 0px 12px 6px #00000021;
    pointer-events: none;
    touch-action: none;
    font-size: 0.8em;
}

.mouse * {
    color: black;
}

html.dark .mouse * {
    color: white;
}

html.dark .mouse {
    border: 1px solid rgba(255, 255, 255, 0.212);
    box-shadow: 4px 0px 12px 8px #ffffff17;
}

.foto {
    pointer-events: none;
    touch-action: none;
    user-select: none;
}


.nome {
    translate: 0 50px;
}

@media screen and (max-width: 500px) {
    .nome {
        font-size: 2em;
    }
}

.nome span {
    transform: translateY(-200%);
    display: inline-block;
    margin: 10px 0px;
}

.title {
    translate: 0 30px;
    overflow: hidden;
}

.title > div {
    transform: translateY(-200%);
    display: inline-block;
    margin: 10px 0px;
}

li::before {
    display: inline-block;
    content: " ";
    margin-right: 10px;
    border-radius: 50%;
    width: 10px;
    aspect-ratio: 1/1;
    border: 1px solid var(--green);
}

li.red::before {
    border: 1px solid var(--red);
}

li.yellow::before {
    border: 1px solid var(--yellow);
}

.green {
    color: var(--green);
}

.slide-in,
.slide-out {
    --bg: white;
    pointer-events: none;
    touch-action: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vw;
    height: 100vh;
    scale: 1.5;
    background-color: var(--bg);
    z-index: 100;
}

html.dark .slide-in,
html.dark .slide-out {
    --bg: black;
}

.content main {
    z-index: 4;
}

.text-block p {
    line-height: 1.6em;
}

p.text-block {
    line-height: 1.6em;
}

@keyframes icone {
    from {
        rotate: 0deg;
        stroke-dasharray: 7 10 6;
    }
    to {
        rotate: 360deg;
        stroke-dasharray: 35 26 20;
    }
}

svg {
    z-index: 10;
    stroke-linecap: round;
    left: -5px;
    top: -5px;
    animation: 10s linear 0s infinite both alternate icone;
}

html.dark svg.circle {
    stroke: white;
}
html svg.circle {
    stroke: rgb(0, 0, 0);
}
.text-block {
    opacity: 0;
}
